ALTER TABLE public.visitas_mantenimiento_poliza ADD COLUMN IF NOT EXISTS evidencia_fotos JSONB DEFAULT '[]'::jsonb, ADD COLUMN IF NOT EXISTS checklist_data JSONB DEFAULT '{}'::jsonb, ADD COLUMN IF NOT EXISTS firma_cliente TEXT, ADD COLUMN IF NOT EXISTS firma_tecnico TEXT;
